
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block head %}
    <link href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<div id="primary_container">
    <nav class="navbar container-fluid navbar-expand-lg navbar-toggle bg-dark">
        <a class="navbar-brand" href="/">Project 3</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/basicform">Calculator</a>
                    <a class="navbar-brand" href="/zlayout">Internet Evolution</a>
                    <a class="navbar-brand" href="/flayout">ICANN</a>
                    <a class="navbar-brand" href="/Article1">OOPS</a>
                    <a class="navbar-brand" href="/Article2">Testing</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            {{ message }}
            <a aria-label="close" class="close" data-dismiss="alert" href="#"><span
                    style="float:right">&times;</span></a>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="text-center">
            {% block content %}{% endblock %}
        </div>
    </div>
<div id="footer">
    {% block footer %}
    <footer class="sticky-footer bg-dark container-fluid mt-auto">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <p class="text-white"><small>&copy; copyright, Tarun Puthineedi </small></p>
                    <a href="https://github.com/tarunvinay007/calculator/tree/Project3"> GitHub</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436720/particles.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436735/app.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
